doctype html
html(lang='en')
html
  head
    meta(charset='UTF-8')
    title Edit Image
  body
    img(src=url id=num)
    p= 'Uploaded by ' + author
    p= description
  form( method='POST' action='/gallery/' + num)
    input(type="hidden" name="_method" value="PUT")
    input(type='hidden' name="_id" value=num)
    | author:
    input(type= "text" name="author")
    | url:
    input(type= "text" name="url")
    | description:
    textarea(name="description")
    input(type='submit', value='Submit')
